.main{
  background-image: url('galaxy.jpeg');
  text-align: center;
  background-size: cover;
  min-height: 60%;
  padding-top: 11rem;
}

body{
  margin: 0;
  height: 100%;
}
html{
  height: 100%
}
